{% extends 'base.html' %}
{% block content %}
<div class='row clearfix'>
    {{user}}
<div class="col-md-12 column">
    <form action="post/" method="post">
        {%csrf_token %}
        <div class = "col-md-8 col-md-offset-2 fieldWapper">
            {{form.text.errors}}
            {{form.text}}
        </div>
        {{form.country.as_hidden }}
        <input type="submit" value="Post">
    </form>
</div>
<div class="col-md-12 column">
    {%for tweet in tweets %}
        <div class='well'>
            <span>{{tweet.text}}</span>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}

